# Garantindo Python 3.10

In [ ]:
!wget https://github.com/korakot/kora/releases/download/v0.11/py311.sh
!bash ./py311.sh -b -f -p /usr/local
!python3 -m ipykernel install --name "py311" --user

In [ ]:
#**Add python version you wish** to list
!sudo apt-get update -y
!sudo apt-get install python3.11

In [ ]:
from IPython.display import clear_output 
clear_output()

In [ ]:
!sudo update-alternatives --install /usr/bin/python3 python3 /usr/bin/python3.11 0

In [ ]:
# Choose one of the given alternatives:
!sudo update-alternatives --config python3

In [ ]:
!python3 --version

Python 3.11.0

# SWITCH COM PYTHON < 3.10

In [ ]:
valor = 1

if valor == 1:
  print("O VALOR É 1")
elif valor == 2:
  print("O VALOR É 2")
else:
  print("O VALOR NÃO É 1 NEM 2")

O VALOR É 1

# Solução mais pythonica para o SWITCH COM PYTHON < 3.10

In [ ]:
valores = {1: "O valor é 1", 
           2: "O valor é 2"}

In [ ]:
valor = 3

In [ ]:
if valor in valores:
  print(valores[valor])
else:
  print("O valor não é 1 e nem 2")

O valor não é 1 e nem 2

# Solução usando match

### Exemplo 01

In [2]:
valor = 1

match valor:
  case 1:
    print("O VALOR É 1")
  case 2:
    print("O VALOR É 2")
  case _:
    print("O VALOR NÃO É 1 NEM 2")

O VALOR É 1

### Exemplo 02

_: Não importa qual o valor

In [3]:
lista = [1, 3, 4]

In [4]:
match lista:
  case [1, 2, 3]:
    print("Lista da regra")
  case [1, _, _]:
    print("1 é o primeiro e os outros dois valores não importam")
  case _:
    print("Não entrou nos casos acima")

1 é o primeiro e os outros dois valores não importam

### Exemplo 03

In [5]:
for lista in [['2', 7, 5], 
              [], 
              [1], 
              [1, 10]]:

  print(lista)

  match lista:
      case [] | [_]:
          print('Vazio ou somente com 1')

      case [1, *resto]:
          print(f'O primeiro é 1 e o {resto=}')

      case [1|'2', _, _] | [_, 1|2, _]:
          print('Inicia com 1 ou 2')

  print("-"*50)

['2', 7, 5]
Inicia com 1 ou 2
--------------------------------------------------
[]
Vazio ou somente com 1
--------------------------------------------------
[1]
Vazio ou somente com 1
--------------------------------------------------
[1, 10]
O primeiro é 1 e o resto=[10]
--------------------------------------------------

### Exemplo 04 - Match com nomes

*_: Não importa qual o valor ou quantidade de valores

In [2]:
for cor in [(255, 255, 255), 
            (200, 255, 255), 
            (255, 255, 255, 3), 
            (255, 255, 255, 5, 6)]:

  print(cor)

  match cor:
      case r, g, b if r == 255:
          print(f'Tá muito vermelho!!!!!')
      case r, g, b:  # len(3)
          print(f'{r=}, {g=}, {b=}')
      case r, g, b, a:  # len(4)
          print(f'Com alpha: {r=}, {g=}, {b=}, {a=}')
      case r, g, b, a, *_:  # len(>=5)
          print(f'Com alpha e mais: {r=}, {g=}, {b=}, {a=}')

  print("-"*50)

(255, 255, 255)
Tá muito vermelho!!!!!
--------------------------------------------------
(200, 255, 255)
r=200, g=255, b=255
--------------------------------------------------
(255, 255, 255, 3)
Com alpha: r=255, g=255, b=255, a=3
--------------------------------------------------
(255, 255, 255, 5, 6)
Com alpha e mais: r=255, g=255, b=255, a=5
--------------------------------------------------

### Exemplo 05 - Guards